* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.responsive-box {
	margin: 0 auto;
	position: relative;
	width: 98%;
}

.responsive-box::before {
	content: "";
	display: block;
	padding-top: calc(60%*3*2.3);
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dbe2ec;
	font-size: 3.0vw;
}

.wrapper {
	padding: 0;
	margin: 0;
	width: 80%;
	height: calc(65%/2.3);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-160%);
	transform: translate(-50%,-160%);
}

.item-wrapper {
	margin: 0, auto;
	display: inline-block;
	vertical-align: top;
	width: calc(100%/1);
	height: 100%;
	text-align: center;
	margin-bottom: 10%;
	text-align: center;
}

.item {
	display: inline-block;
	width: 80%;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item-content {
	position: relative;
	width: 100%;
	height: 88%;
	overflow: hidden;
}

.bg-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#item-1-author {
	position: absolute;
	top: 40%;
	left: 10%;
	text-align: left;
	font: bold 0.6em Arial;
	letter-spacing: 0.1em;
	color: white;
}

#item-1-title {
	position: absolute;
	top: 44%;
	left: 10%;
	text-align: left;
	font: bold 1.9em Arial;
	line-height: 1.4;
	color: white;
}

#item-1-button {
	position: absolute;
	top: 87%;
	left: 10%;
	text-align: left;
	font: bold 0.7em Arial;
}

.menu {
	position: relative;
	width: 100%;
	height: 12%;
}

.menu-item {
	position: relative;
	left: 0;
	display: inline-block;
	width: calc(100%/3);
	height: 100%;
}

.menu-item span {
	position: absolute;
	left: calc(100%*(100/10)/(100/3));
	top: 50%;
	transform: translate(0,-50%);
	font: bold 0.8em Arial;
}

.menu-item img {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 30%;
}

.item-content #middle-content {
	height: 100%;
	padding: 10% 9% 10% 8%;
	text-align: left;
	font: 0.93em Time New Roman;
	line-height: 1.8;
	background-color: #f7f8f9;
	color: #7a8188;
}

#middle-content:first-letter {
	font-family: GeoSlab703 Md BT;
	font-size: 6.0em;
	display: block;
	margin-right: 5%;
	float: left;
	line-height: 0.8;
	color: black;
}

#comments {
	height: 100%;
	width: 100%;
}

#comments .header {
	position: relative;
	width: 100%;
	height: 5%;
}

#comments .header h2 {
	display: inline-block;
	position: absolute;
	left:15%;
	top: 75%;
	font: bold 0.68em Verdana;
	color: black;
	margin: 0;
}

#comments .close {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 75%;
	width: 6%;
}

.col1 {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 0;
	width: 30%;
	height: 100%;

}

.col2 {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 30%;
	width: 62%;
	height: 100%;
	text-align: left;
}


.cl1 .avatar {
	width: 45%;
	border-radius: 50%;
}

.login {
		display: inline-block;
		vertical-align: top;
		font: bold 0.65em Verdana;
		color: black;
}

.time {
		display: inline-block;
		vertical-align: top;
		font: 0.65em Time New Roman;
		color: #7a8188;
}

.message-content {
		font: 0.75em Time New Roman;
		line-height: 1.7;
		color: #7a8188;
}

.cl1 {
	float: left;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-top: 14%
}

.cl2 {
	position: relative;
	float: left;
	display: inline-block;
	vertical-align: top;
	width: 62%;
	text-align: left;
	margin-top: 14%;
}