@media (min-width: 1024px) {
	.responsive-box::before {
		content: "";
		display: block;
		padding-top: 60%;
	}

	#content {
		font-size: 1vw;
	}

	.wrapper {
		width: 80%;
		height: 65%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}

	.item-wrapper {
		width: calc(100%/3);
		text-align: center;
}
	#middle {
		float: none;
	}
	
	#right {
		position: relative;
		left: 0;
		float: right;
	}
}